extends ../layouts/base

append vars
	- title = 'Main';

block content
	+b.main
		+e.wrap.wrap
			+e.content
				+e.title.h1
					| Afr.ua-new format 
					br
					| for breaking news
				+e.desc.p
					| New information portal for foreigners about life in Ukraine, 
					br
					| latest news,useful articles, blogs and much more...
				+e.A.btn.btn__.hidden-tablet(href="#")
					+e.text Go to news
					+e.arrow
						+icon('longArrow')
			+e.swipe.visible-tablet
				+e.swipe-hand
					+icon('swipeFinger')
				+e.swipe-arrow
					+icon('swipeArrow')
				+e.swipe-text
					strong Swipe to news
	+b.nav
		+e.wrap.wrap
			+e.row.flex._justify
				+e.left
					+e.UL.list
						+e.LI.item
							+e.A.link.is-active(href="#") Hot News
						+e.LI.item
							+e.A.link(href="#") Life
						+e.LI.item
							+e.A.link(href="#") Showbiz
						+e.LI.item
							+e.A.link(href="#") Music
						+e.LI.item
							+e.A.link(href="#") Sport
						+e.LI.item
							+e.A.link(href="#") Health
						+e.LI.item
							+e.A.link(href="#") Politics
						+e.LI.item
							+e.A.link(href="#") Economics
						+e.LI.item
							+e.A.link(href="#") Others
				+e.right
					+e.search-form.search-form__.hidden-mobile
						+e.field.field__
							+e.INPUT.input(type="text", name="search" placeholder="Search (enter your search term or hashtag)")
						+e.BUTTON.btn
							+icon('search')
			+e.bottom
				+e.select.select__.js-select
					+e.INPUT.input.js-select-input(type="hidden")
					+e.head.js-select-head
						+e.label.js-select-label Hot News
						+e.arrow
							+icon('downArrow')
					+e.body
						+e.list
							+e.item.js-select-item.is-active(data-value="Hot News") Hot News
							+e.item.js-select-item(data-value="Life") Life
							+e.item.js-select-item(data-value="Showbiz") Showbiz
							+e.item.js-select-item(data-value="Music") Music
							+e.item.js-select-item(data-value="Sport") Sport
							+e.item.js-select-item(data-value="Health") Health
							+e.item.js-select-item(data-value="Politics") Politics
							+e.item.js-select-item(data-value="Economics") Economics
							+e.item.js-select-item(data-value="Others") Others
				+e.select.select__.js-select
					+e.INPUT.input.js-select-input(type="hidden")
					+e.head.js-select-head
						+e.label.js-select-label Popular
						+e.arrow
							+icon('downArrow')
					+e.body
						+e.list
							+e.item.js-select-item.is-active(data-value="Popular") Popular
							+e.item.js-select-item(data-value="New") New
							+e.item.js-select-item(data-value="Latest") Latest
	+b.main-news
		+e.wrap.wrap
			+e.row.flex
				+e.column._left
					+e.H3.title.h3 Popular
					+e.list
						+e.post-box.post-box__
							+e.A.preview._big(href="#")
								+e.img
									+e.img-wrap
										img.object-fit(src="/img/post_thumb1.jpg")
								+e.info
									+e.top
										+e.title.h2
											| Ukraine resumes flights 
											br
											| with 5 countries
										+e.share.share__
											+e.item
												+e.icon
													+icon('eye')
												+e.count 1385
											+e.item
												+e.icon
													+icon('like')
												+e.count 1005
											+e.item
												+e.icon
													+icon('share')
												+e.count 380
											+e.item
												+e.icon
													+icon('comment')
												+e.count 96
											+e.item
												+e.icon
													+icon('heart')
									+e.bottom
										+e.date
											| 28/01/2021 
											br
											| 12:41
										+e.more.more__
											+e.text Read more
											+e.arrow
												+icon('longArrow')
						+e.post-box.post-box__
							+e.A.preview._big(href="#")
								+e.img
									+e.img-wrap
										img.object-fit(src="/img/post_thumb2.jpg")
								+e.info
									+e.top
										+e.title.h2
											| A sharp jump in the exchange rate. Expert forecasts
										+e.share.share__
											+e.item
												+e.icon
													+icon('eye')
												+e.count 1385
											+e.item
												+e.icon
													+icon('like')
												+e.count 1005
											+e.item
												+e.icon
													+icon('share')
												+e.count 380
											+e.item
												+e.icon
													+icon('comment')
												+e.count 96
											+e.item
												+e.icon
													+icon('heart')
									+e.bottom
										+e.date
											| 28/01/2021 
											br
											| 12:41
										+e.more.more__
											+e.text Read more
											+e.arrow
												+icon('longArrow')
				+e.column._right
					+e.H3.title.h3 New
					+e.list
						+e.post-box.post-box__
							+e.A.preview._small(href="#")
								+e.img
									+e.img-wrap
										img.object-fit(src="/img/post_thumb3.jpg")
								+e.info
									+e.top
										+e.title.h4
											| Situation with COVID-19 in Ukraine and in the World state on 28/01/20
										+e.share.share__
											+e.item
												+e.icon
													+icon('eye')
												+e.count 1385
											+e.item
												+e.icon
													+icon('like')
												+e.count 1005
											+e.item
												+e.icon
													+icon('share')
												+e.count 380
											+e.item
												+e.icon
													+icon('comment')
												+e.count 96
											+e.item
												+e.icon
													+icon('heart')
									+e.bottom
										+e.date
											| 28/01/2021 
											br
											| 12:41
										+e.more.more__
											+e.text Read more
											+e.arrow
												+icon('longArrow')
						+e.post-box.post-box__
							+e.A.preview._small(href="#")
								+e.img
									+e.img-wrap
										img.object-fit(src="/img/post_thumb4.jpg")
								+e.info
									+e.top
										+e.title.h4
											| Deterioration of weather conditions in Ukraine. Snow and ice on the road.
										+e.share.share__
											+e.item
												+e.icon
													+icon('eye')
												+e.count 1385
											+e.item
												+e.icon
													+icon('like')
												+e.count 1005
											+e.item
												+e.icon
													+icon('share')
												+e.count 380
											+e.item
												+e.icon
													+icon('comment')
												+e.count 96
											+e.item
												+e.icon
													+icon('heart')
									+e.bottom
										+e.date
											| 28/01/2021 
											br
											| 12:41
										+e.more.more__
											+e.text Read more
											+e.arrow
												+icon('longArrow')
						+e.post-box.post-box__
							+e.A.preview._small(href="#")
								+e.img
									+e.img-wrap
										img.object-fit(src="/img/post_thumb5.jpg")
								+e.info
									+e.top
										+e.title.h4
											| 2020 Car of the Year Winner Announced
										+e.share.share__
											+e.item
												+e.icon
													+icon('eye')
												+e.count 1385
											+e.item
												+e.icon
													+icon('like')
												+e.count 1005
											+e.item
												+e.icon
													+icon('share')
												+e.count 380
											+e.item
												+e.icon
													+icon('comment')
												+e.count 96
											+e.item
												+e.icon
													+icon('heart')
									+e.bottom
										+e.date
											| 28/01/2021 
											br
											| 12:41
										+e.more.more__
											+e.text Read more
											+e.arrow
												+icon('longArrow')
						+e.post-box.post-box__
							+e.A.preview._small(href="#")
								+e.img
									+e.img-wrap
										img.object-fit(src="/img/post_thumb6.jpg")
								+e.info
									+e.top
										+e.title.h4
											| Top 10 Ukrainian universities for international students
										+e.share.share__
											+e.item
												+e.icon
													+icon('eye')
												+e.count 1385
											+e.item
												+e.icon
													+icon('like')
												+e.count 1005
											+e.item
												+e.icon
													+icon('share')
												+e.count 380
											+e.item
												+e.icon
													+icon('comment')
												+e.count 96
											+e.item
												+e.icon
													+icon('heart')
									+e.bottom
										+e.date
											| 28/01/2021 
											br
											| 12:41
										+e.more.more__
											+e.text Read more
											+e.arrow
												+icon('longArrow')
			+e.banner
				img(src="/img/banner.jpg")
			+e.bottom
				+e.A.btn.btn__._black(href="#")
					+e.text Load more news
					+e.arrow
						+icon('longArrow')