+b.comments
	+e.wrap.wrap
		+e.H3.title.h3 Comments
		+e.list
			+e.item
				+e.box
					+e.left
						+e.ava
							img(src="/img/ava4.jpg")
						+e.info
							+e.name Sandra Paringtone:
							+e.text
								| Integer metus turpis, hendrerit ac velit sit amet, suscipit feugiat nulla.
					+e.right
						+e.right-info
							+e.date 28.01.2020
							+e.time 12:06
						+e.A.speech(href="#")
							+icon('speech')
				+e.box._answer
					+e.answer-icon
						+icon('answer')
					+e.left
						+e.ava
							img(src="/img/ava5.jpg")
						+e.info
							+e.name Andrea Sanchez:
							+e.text
								| Nam iaculis tincidunt commodo.
					+e.right
						+e.right-info
							+e.date 28.01.2020
							+e.time 12:06
						+e.A.speech(href="#")
							+icon('speech')
			+e.item
				+e.box
					+e.left
						+e.ava
							img(src="/img/ava6.jpg")
						+e.info
							+e.name Brandon Cooper:
							+e.text
								| Nullam euismod odio nec risus lacinia egestas. Phasellus volutpat, dolor quis varius porta, diam urna pulvinar nibh, sit amet efficitur lacus elit sed nulla. 
					+e.right
						+e.right-info
							+e.date 28.01.2020
							+e.time 12:06
						+e.A.speech(href="#")
							+icon('speech')
			+e.item
				+e.box
					+e.left
						+e.ava
							img(src="/img/ava7.jpg")
						+e.info
							+e.name Travis Nolan:
							+e.text
								| Nullam euismod odio nec risus lacinia egestas. Phasellus volutpat, dolor quis varius porta, diam urna pulvinar nibh, sit amet efficitur lacus elit sed nulla. 
					+e.right
						+e.right-info
							+e.date 28.01.2020
							+e.time 12:06
						+e.A.speech(href="#")
							+icon('speech')
		+b.FORM.comments-form(action="#")
			+e.title Your comment:
			+e.field
				+e.TEXTAREA.input(placeholder="Duis elit neque, interdum vel pulvinar eget, dictum sed augue.")
				+e.BUTTON.btn
					+icon('send')