+b.subscribe
	+e.wrap.wrap
		+e.A.up.js-scroll-to(href="#top")
			+icon('up')
		+e.inner
			+e.H2.title.h2 Subscribe to our newsletter
			+e.desc.p
				| Subscribe to the newsletter and be the first to receive the latest news, 
				br
				| articles and useful information
			+e.FORM.form(action="#")
				+e.field.field__
					+e.INPUT.input(type="email" name="email" placeholder="Enter your e-mail")
				+e.BUTTON.btn Subscribe