.owl {
	&-progress {
		height: 1px;
		background: #F1F1F1;
		&-bar {
			height: 1px;
			background: #000;
			transition: ease .2s;
		}
	}
	
	&-prev, &-next {
		cursor: pointer;
		width: 24rem;
		height: 24rem;
		background: none;
		fill: $gray;
		border: 0;
		position: absolute;
		top: 0;
		z-index: 50;
	}
	&-prev {
		left: 0;
	}
	&-next {
		right: 0;
	}
	
	&-counter {
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		top: -10rem;
		font-size: 24rem;
		line-height: 28/24*1;
		font-weight: 500;
		color: $gray;
	}
	
	&-progress {
		height: 1px;
		position: relative;
		background: $gray;
		width: 100%;
		&-bar {
			position: absolute;
			left: 0;
			top: -1px;
			height: 3px;
			background: $default;
		}
	}
	
	&-stage {
		display: flex;
	}
	
	&-item {
		float: none;
	}
	
	&-carousel {
		.owl-item {
			float: none;
		}
	}
	
	&-controls {
		width: 409rem;
		height: 24rem;
		padding: 0 30rem;
		display: flex;
		align-items: center;
		position: relative;
	}
	
	@include max-screen($small_tablet) {
		&-prev, &-next {
			width: 50rem;
			height: 50rem;
			background-size: 100% 100%;
			background-position: 0 0;
			background-repeat: no-repeat;
			top: 50%;
			margin-top: -25rem;
			svg {
				display: none;
			}
		}
		&-prev {
			background-image: url(/img/prevWhite.svg);
		}
		&-next {
			background-image: url(/img/nextWhite.svg);
		}
		&-progress, &-counter {
			display: none;
		}
		&-controls {
			width: 100%;
			height: 0;
			position: static;
		}
	}
}