.breadcrumbs {
	padding: 10rem 0;
	color: $gray;
	font-weight: 500;
	
	&__list {
		list-style: none;
		display: flex;
		margin-top: 10rem;
	}
	&__item {
		display: flex;
		&:not(:last-child) {
			margin-right: 5rem;
			&:after {
				content: '>';
				margin-left: 5rem;
			}
		}
	}
	
	&__nav {
		display: none;
	}
	
	a {
		transition: ease .2s;
		&:hover {
			color: $default;
		}
	}
	
	@include max-screen($small_mobile) {
		font-weight: bold;
		padding-top: 0;
		padding-bottom: 7rem;
		&__list {
			display: none;
		}
		&__row {
			display: flex;
			justify-content: space-between;
		}
		&__nav {
			display: flex;
		}
		&__next {
			margin-left: 12rem;
		}
	}
}