.change-password {
	&__text {
		font-size: 14rem;
		line-height: 16/14*1;
		color: $gray;
		margin-top: 6rem;
	}
	
	&__fields {
		margin-top: 16rem;
	}
	&__field {
		&:not(:first-child) {
			margin-top: 8rem;
		}
	}
	
	&__buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 20rem;
	}
	&__bitton {
		width: 100rem;
	}
	&__cancel {
		color: $gray;
		font-size: 14rem;
		line-height: 16/14*1;
		margin-right: 10rem;
	}
	
	@include max-screen($small_tablet) {
		min-height: calc( 100vh - 425rem );
	}
}