.share {
	display: flex;
	&__item {
		display: block;
		text-align: center;
		&:not(:last-child) {
			margin-right: 24rem;
		}
		&:hover {
			.share {
				&__icon {
					fill: $default;
				}
				&__count {
					color: $default;
				}
			}
		}
	}
	&__icon {
		width: 24rem;
		height: 20rem;
		margin: 0 auto;
		display: block;
		fill: $gray;
		transition: ease .2s;
		.icon-share {
			width: 20rem;
		}
	}
	&__count {
		font-size: 14rem;
		line-height: 16/14*1;
		font-weight: bold;
		display: block;
		transition: ease .2s;
		color: $gray;
		margin-top: 2rem;
	}
	
	@include max-screen($large_desktop) {
		&__item {
			&:not(:last-child) {
				margin-right: 10rem;
			}
		}
	}
}