.social {
	display: flex;
	&__item {
		width: 30rem;
		height: 30rem;
		fill: $default;
		transition: ease .2s;
		&:hover {
			fill: $gray;
		}
		&:not(:last-child) {
			margin-right: 10rem;
		}
	}
	
	@include max-screen($small_mobile) {
		&__item {
			&:not(:last-child) {
				margin-right: 30rem;
			}
		}
	}
}